@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto mono', Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111;
  background-color: #fefefe;
}

h1 {
  margin: 20px 0 40px;
}

/* #main-container {
  border: 1px solid #000;
  height: 500px;
  width: 500px;
  display: flex;
  /* justify-content: center; */
/* flex-flow: row wrap;
} */

/* .sketch-item {
  background-color: #ddd;
  border: 1px #000 dotted;
  flex: 1 0 200px;
} */
