@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto mono', Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111;
  background-color: #fefefe;
}

h1 {
  margin: 20px 0;
}

#btn-container button {
  margin: 0 20px 30px 20px;
  padding: 8px 16px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fefefe;
}

#btn-container button:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 0px 0px 4px 1px #dedede;
}

#content-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}

#main-container {
  border: 1px solid #000;
  /* box-shadow: 1px 1px 3px 4px #ddd; */
  display: flex;
  flex-flow: row wrap;
}

input[type='range'] {
  -webkit-appearance: slider-vertical;
  cursor: pointer;
  height: 400px;
  width: 10px;
}

#grid-slider-container {
  text-align: center;
}

/* #grid-slider-container {
  display: inline-block;
  margin-left: 50px;
  width: 20px;
  height: 400px;
}

#grid-slider-container input {
  width: 400px;
  height: 20px;
  transform-origin: 200px 200px;
  transform: rotate(-90deg);
} */
