@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto mono', Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111;
  background-color: #fefefe;
}

h1 {
  margin: 20px 0;
}

#reset-button {
  margin-bottom: 30px;
  padding: 8px 16px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fefefe;
}

#reset-button:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 0px 0px 4px 1px #dedede;
}

#main-container {
  border: 1px solid #000;
  display: flex;
  flex-flow: row wrap;
}
